:root {
  --hue: 120;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: hsl(var(--hue), 100%, 88%);
    font-family: "Times New Roman", Times, serif;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#box {
    position: absolute;
    text-align: center;
    top: 50%;
    border-radius: 10px;
    left: 50%;
    width: 50%;
    height: 50%;
    font-size: 50px;
    background-color: hsl(var(--hue), 25%, 50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

button {
    background-color: hsl(var(--hue), 25%, 50%);
    border: 2px solid hsl(var(--hue), 100%, 88%);;
    border-radius: 10px;
    color: hsl(var(--hue), 100%, 88%);;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button:hover {
  background-color: hsl(var(--hue), 50%, 50%); /* Green */
}
